/* css variables */

    :root {
    /* color palette */
    /* use of variables: var(--color_tooltip_1); */
    /* background color */
    --b_color_body: #000000;
    --b_color_code: #151515;
    --b_color_code_readonly: #585656;
    --b_color_button: #FF9900;
    --b_color_button_hover: #EA4800;
    /* front color */
    --f_color_body: #9DA5B4;
    --f_color_code: #78C379;
    --f_color_link: #ffffff;
    --f_color_border: #FF9900;
}

html {
    font-family: sans-serif;
    /*margin auto means centered horizontally*/
    margin: auto;
    padding-right: 0px;
    overflow-y: auto;
    overflow-x: hidden;
    word-wrap: break-word;
    overflow-wrap: break-word;
    box-sizing: border-box;
    background-color: var(--b_color_body);
    line-height: 1.5;
    color: var(--f_color_body);
    font-size: 34px;
}

body {
    margin: 0;
    padding: 0;
    font-size: 60%;
    line-height: 1.5;
    background-color: var(--b_color_body);
    color: var(--f_color_body);
}

a:link {
    cursor: pointer;
    color: var(--f_color_link);
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: var(--f_color_link);
}

h1,
h2,
h3,
h4 {
    margin-bottom: 16px;
}

p {
    line-height: 1.5;
}

.table {
    display: grid;
    grid-template-columns: auto auto auto 1fr auto; 
}

.table > div {
  margin: 2px;
  background: var(--b_color_code);
  padding: 5px;
}

input[type=text] {
    background-color: var(--b_color_code);
    color: var(--f_color_code);
    border-width: 1px;
    border-radius: 3px;
    border-color: var(--f_color_border);
    font-size: 100%;
    font-family: Consolas, Liberation Mono, Courier, monospace;
}

input:read-only {
    border: none;
    background-color: var(--b_color_code_readonly);
    color: var(--f_color_body);
}

button, .button, input[type=button], input[type=submit], input[type=reset] 
    {
    cursor: pointer;
    background-color: var(--b_color_button);
    color: var(--f_color_link);
    border: none;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

button:hover, .button:hover,
input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
    background-color: var(--b_color_button_hover);
}